{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'app/css/login1.css' %}" rel="stylesheet" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        />
    </head>
    <body>
        {% block login %}
        <div class="container">
          <div class="box">
              <div class="box-login" id="login">
                  <div class="top-header">
                      <h3>Hello, Again</h3>
                      <small>We are happy to have you back.</small>
                  </div>
                  <form method="POST">
                  {% csrf_token %}
                      <div class="input-group">
                          <div class="input-field">
                              <input type="text" name="login_username" class="input-box" id="logUsername" required>
                              <label for="logUsername">Username</label>
                          </div>
                          <div class="input-field">
                              <input type="password" name="login_password" class="input-box" id="logPassword" required>
                              <label for="logPassword">Password</label>
                              <div class="eye-area">
                                  <div class="eye-box" onclick="myLogPassword()">
                                      <i class="fa-regular fa-eye" id="eye"></i>
                                      <i class="fa-regular fa-eye-slash" id="eye-slash"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="remeber">
                              <input type="checkbox" id="formCheck" class="check">
                              <label for="formCheck">Remember Me?</label>
                          </div>
                          <div class="input-field">
                              <input type="submit" name="login" class="input-submit" value="Sign In">
                          </div>
                          <div class="forgot">
                              <a href="#">Forgot Password</a>
                          </div>
                      </div>
                  </form>
              </div>
  
  
              <div class="box-register" id="register">
                  <div class="top-header">
                      <h3>Sign Up, Now</h3>
                      <small>We are happy to have you with us.</small>
                  </div>
                  <form method="POST">
                    {% csrf_token %}
                      <div class="input-group">
                          <div class="input-field">
                              <input type="text" name="username" class="input-box" id="regUsername" required>
                              <label for="regUsername">Username</label>
                          </div>
                          <div class="input-field">
                              <input type="text" name="first_name" class="input-box" id="regUsername" required>
                              <label for="regName">Name</label>
                          </div>
                          <div class="input-field">
                              <input type="text" name="email" class="input-box" id="regEmail" required>
                              <label for="regEmail">Email</label>
                          </div>
                          <div class="input-field">
                              <input type="password" name="password" class="input-box" id="regPassword" required>
                              <label for="regPassword">Password</label>
                              <div class="eye-area">
                                  <div class="eye-box" onclick="myRegPassword()">
                                      <i class="fa-regular fa-eye" id="eye-2"></i>
                                      <i class="fa-regular fa-eye-slash" id="eye-slash-2"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="remeber">
                              <input type="checkbox" id="formCheck-2" class="check">
                              <label for="formCheck-2">Remember Me?</label>
                          </div>
                          <div class="input-field">
                              <input type="submit" name="register" class="input-submit" value="Sign Up">
                          </div>
                      </div>
                  </form>
                  
              </div>
  
              <div class="switch">
                  <a href="#" class="login" onclick="login()">Login</a>
                  <a href="#" class="register" onclick="register()">Register</a>
                  <div class="btn-active" id="btn"></div>
              </div>
          </div>
      </div>
      {% endblock login %}
      <script>
          var x = document.getElementById('login')
          var y = document.getElementById('register')
          var z = document.getElementById('btn')
          function login(){
              x.style.left = "27px";
              y.style.left = "-350px";
              z.style.left = "0px";
          }
          function register(){
              x.style.left = "-350px";
              y.style.left = "25px";
              z.style.left = "150px";
          }
  
          function myLogPassword(){
              var a = document.getElementById('logPassword');
              var b = document.getElementById('eye');
              var c = document.getElementById('eye-slash');
              if(a.type === "password"){
                  a.type = "text";
                  b.style.opacity = "0";
                  c.style.opacity = "1";
              }else{
                  a.type = "password"
                  b.style.opacity = "1"
                  c.style.opacity = "0"
              }
          }
  
          function myRegPassword(){
              var d = document.getElementById('regPassword');
              var b = document.getElementById('eye-2');
              var c = document.getElementById('eye-slash-2');
              if(d.type === "password"){
                  d.type = "text";
                  b.style.opacity = "0";
                  c.style.opacity = "1";
              }else{
                  d.type = "password"
                  b.style.opacity = "1"
                  c.style.opacity = "0"
              }
          }
      </script>
       
    </body>
</html>